/* a style comment */

body {
	font-family: sans-serif;
}

table, th, td {
   padding: 10px;
  
}
.button {
	border-radius: 5px;
	background-color:#305b90;
	color: white;
	padding: 14px 20px;
	margin-bottom: : 14px;
	text-decoration: none;
}
#image_container {
	float:left; 
	
	background-image: url("./images/ron_in_canyon_horz_crop.jpg");
    background-repeat: no-repeat;
    background-position: 50% 50%; 
	background-size: cover;
	/* background-attachment: fixed; */
	min-height: 500px;
	width: 66%;

}

#text_container {
	padding:50px;
	width: 33.3333%;
    box-sizing: border-box;
    float:right;
}

#li {
	padding: 0
	width:50%;
}
.bio {
	margin-left: 0;
    margin-right: 0;
    margin-top: 25px;
    width: 95%;
}
.clear {
	clear: both;
}
.hlist a:link {
	list-style-type: none;
	text-align: center;
	color: grey;
	text-decoration: none;	
}
.work {
	width: 40%;
	padding: 10px;
	float: left;
}
.edu {
	width: 40%;
	padding: 10px;
	float: right;
}